<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    </head>

    <body>
        <img src="cid:pic1214" alt="mun" width="110" height="150"> 
        
        <section>
            <p>Dear Mr. Mehdee,</p><br>

            <p>
                You have been selected for the International Undergraduate Academic Awards (IUAA) for<br>
                excellent academic achievements. Each fall, awards of $2,500 each will be automatically awarded<br> 
                to the top academic achieving international undergraduate students in the previous scholarship year.<br> 
                Students must have completed at least two semesters at Memorial University as full time students<br> 
                (minimum of nine credit hours per semester), have not failed any courses in<br> 
                the previous academic year and be currently registered full time.
            </p>

            <p>
                Please click <a href="https://giphy.com/embed/uhYPkjP03h9RvVdazZ/video">here</a> to fill out this form to be considered for your upcoming term.
            </p>

            <p>
                Regards,<br><br>
                MUN Financial Services
            </p>
        </section>
    </body>

</html>